.App {
  text-align: center;
}

.login_container {
  width: 300px;
  margin: 20px auto;
}

.login_form {
  display: grid;
  gap: 10px 5px;
  grid-template-columns: 100px 1fr;
  /* grid-template-rows: 50px 50px; */
}

.login_form > label {
  text-align: right;
}
