body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-page {
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  width: 100%;
  height: 100vh;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.chat-page {
  text-align: center;
}

.chat-page .login-container {
  width: 300px;
  margin: 20px auto;
}

.chat-page .login-form {
  display: grid;
  gap: 10px 5px;
  grid-template-columns: 100px 1fr;
  /* grid-template-rows: 50px 50px; */
}

.chat-page .login-form > label {
  text-align: right;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-container .left {
  flex: 2;
}

.chat-container .right {
  flex: 1;
}

.chat-container .message-list {
  list-style-type: none;
  width: 90%;
  height: 200px;
  margin: 0 auto;
  padding: 5px;
  overflow-y: scroll;
  border: 1px solid;
  text-align: left;
}

/* New Chat Styles - START */
.chat-line {
  flex-grow: 1;
  padding: 1.2rem 1.6rem 1.2rem 1.2rem;
  background: #f1f2f3;
  border-radius: 2.4rem;
  display: flex;
  align-items: center;
  margin: 0 0.5rem 0.5rem 0;
}

.chat-line p {
  display: inline;
  font-weight: normal;
}

.chat-line .username {
  font-weight: 800;
  padding-right: 0.1rem;
}

.chat-line .username::after {
  content: '\00a0 ';
}

.chat-line-wrapper {
  display: flex;
  align-items: flex-start;
}

.chat-line-actions {
  flex-shrink: 0;
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.chat-line-actions button:first-child {
  margin-right: 5px;
}

.chat-line-btn {
  padding: 0;
  margin: 0;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 2.4rem;
  overflow: hidden;
  margin: 0 5px 5px 0;
  flex-shrink: 0;
  border: 2px solid transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #8d9ca7;
}

.chat-line-btn:hover {
  color: #fd2222;
  background: #e1e2e3;
}

.chat-line-btn:focus {
  color: #fd2222;
  border-color: #2b44ff;
}

.chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 1.5rem;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}

.chat-input input {
  border-radius: 42px;
  margin-right: 1rem;
}
/* New Chat Styles - END */

/* Tablet, Desktop */
@media only screen and (min-width: 768px) {
  .chat-container {
    flex-direction: row;
  }

  .chat-container .message-list {
    height: 50%;
  }
}
